/* https://css-tricks.com/snippets/css/complete-guide-grid/ */

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    /* text-decoration: underline; */
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 200px 400px 400px 600px 100px;
    grid-template-areas:
        ". header header ."
        ". left0 right0 ."
        ". left1 right1 ."
        ". left2 right2 ."
        "footer footer footer footer";
    place-items: center;
    row-gap: 200px;
}
.header {
    grid-area: header;
    font-size: 60px;
    margin-bottom: 25px;
    /* border:1px solid white; */
}
.name {
    margin: 0px;
    padding: 0px; 
}
.mark {
    height: 30px;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top;
}
.marks {
    display: flex;
    justify-content: center;
}
.marks > a {
    height: 30px;
}
.about {
    grid-area: left0;
}
.isaacImage {
    grid-area: right0;
    object-fit: cover;
    height: 80%;
    border-radius: 15%;
}
.fpSig {
    grid-area: right1;
}
.fpSigImage {
    grid-area: left1;
    height: 80%;
}
.remindrsImage {
    grid-area: right2;
    object-fit: cover;
    height: 100%;
}
.remindrs {
    grid-area: left2;
}
.badges {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.AppStoreBadge {
    height: 40px;
}
.PlayStoreBadge {
    height: 60px;
}
.footer {
    grid-area: footer;
}
.footerImage{
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}








/* .name {
    font-size: 12em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.character:hover {
    color: red
}

.space {
    width: .28em
} */
/* .name:hover {
    
} */